* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scrollbar-color: rgba(0, 0, 0, 0.712) rgb(255, 255, 255);
}
#body {
  background-color: rgba(0, 0, 0, 0.959);
  min-height: 100vh;
  min-width: 100%;
  color: white;
}
li {
  list-style: none;
}
.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.kalnia-glaze > {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.712),
    rgba(0, 0, 0, 0.096)
  );
}
.navbar img {
  width: 3rem;
  border-radius: 50%;
}
.nav-title {
  color: rgb(255, 255, 255);
  margin-left: 1rem;
  font-weight: bold;
  font-family: "Rock Salt", cursive;
  transform: translateY(-1rem);
  text-decoration: none;
}

.navbar h1,
a {
  padding-top: 1rem;
}

.navbar li {
  display: inline;
  margin-right: 5rem;
}
.nav-item a {
  font-family: "major mono display", monospace;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
  color: rgb(121, 224, 255);
  letter-spacing: 1px;
}
.container {
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.473),
    rgba(128, 128, 128, 0.123)
  );
  animation: bge 10s infinite alternate, slideIn 1s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 500%;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes bge {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
.container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.473);
}
.container img {
  float: left;
  width: 15rem;
  border-radius: 1rem;
  margin-right: 1rem;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.container img:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.281);
}
.container h1 {
  background-image: linear-gradient(to bottom, cyan, white);
  background-clip: text;
  color: transparent;
}
.container h3 {
  font-weight: bold;
  text-shadow: 1px 2px 3px black;
  text-decoration: underline 1px rgba(0, 0, 0, 0.993);
  transition: all 0.3s ease-in-out;
}

.container h3:hover {
  text-decoration: underline 1px white;
  transform: translateX(1rem);
}
.container button {
  transition: all 0.3s ease-in-out;
}

.container button:hover {
  transform: translateY(-5px);
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
}

.footer-logo {
  width: 20%;
}

.footer-logo img {
  width: 70%;
  height: auto;
  object-fit: contain;
  background-color: black;
  border-radius: 50%;
}

.footer-social {
  width: 20%;
  text-align: right;
}

.footer-social a {
  color: #fff;
  margin-left: 10px;
  transition: color 0.2s ease;
}

.footer-social a:hover {
  color: #337ab7;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-column {
  width: 25%;
}

.footer-column h3 {
  margin-top: 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #337ab7;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-column a:hover {
  color: #23527c;
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #444;
}

/* Animations */

.footer-container {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-social a {
  animation: socialFadeIn 1s ease;
}

@keyframes socialFadeIn {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.footer-column {
  animation: columnFadeIn 1s ease;
}

@keyframes columnFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */

@media (max-width: 768px) {
  .footer-container {
    padding: 0 10px;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-social {
    width: 100%;
    text-align: center;
  }
  .footer-middle {
    flex-direction: column;
  }
  .footer-column {
    width: auto;
  }
}

/* skills pages */

.skills-container {
  width: 80%;
  margin: 3rem auto;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideUp 1s ease;
}
@keyframes slideUp {
  0% {
    transform: translateY(-20rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.skill {
  background-color: rgba(255, 255, 255, 0.233);
  min-height: 20rem;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 5px white;
  overflow: auto;
  transition: transform 0.2s ease-in-out;
}

.skill:hover {
  transform: scale(1.03);
}

.skill-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.skill-bar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 10px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.skill-bar-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.2s ease-in-out;
}

@keyframes animate-skill-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skill-bar-fill {
  animation: animate-skill-bar 2s ease-in-out;
}

@media screen and (max-width: 808px) {
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skill {
    width: 15rem;
  }
}

/* projects page  */
.project-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 1.2rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(175, 175, 175, 0.1);
  text-align: center;
  min-height: 100vh;
  animation: fadeIn 1s ease-in-out;
}

.project-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}
.project-box img:hover {
  transform: scale(1.05);
}

.project-box p {
  text-align: left;
  color: rgb(163, 255, 224);
  text-shadow: 0 0 5px#ffffff91;
  font-size: 1.1rem;
}
.project-box li {
  list-style: circle;
}
.project-box code {
  color: rgb(215, 139, 255);
  font-size: 1.2rem;
}
.button-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.button-box button {
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  font-weight: bolder;
  font-size: 1.1rem;
}

.button-box button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.293);
  border-radius: 5px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
}

.button-box button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 908px) {
  .project-box {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 0;
    place-content: center;
    place-items: center;
    text-align: center;
    height: auto;
  }

  .project-box img {
    width: 35rem;
    height: auto;
    object-fit: cover;
    border-radius: 0;
    border-radius: 5px;
  }
}
